@import "base/variables";
@import "base/mixins";
@import "base/reset";
@import "base/fonts";
@import "../icomoon/style.css";

body {
  @include font($bodybg, 16px, ("Roboto", sans-serif));
}

.todoApp {
  width: 80%;
  max-width: 540px;

  margin: 0 auto;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__form {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: $green;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 15px 10px -15px $grey;
    margin-bottom: 10px;
    &__input {
      outline: none;
      color: $white;
      background-color: rgba(255, 255, 255, 0.3);
      border: none;
      border-radius: 10px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      width: calc(100% - 32px);
      padding: 24.5px;
      padding-right: 80px;
      &::placeholder {
        color: $white;
        opacity: 0.8;
        font-size: 16px;
      }
      // &--error {
      //   background-color: red;
      // }
    }
    &__button {
      position: absolute;
      right: 20px;
      top: 20px;
      font-size: 44px;
      width: 64px;
      height: 64px;
      background-color: $white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $green;
      &:hover {
        background-color: rgba($color: $white, $alpha: 0.9);
      }
    }
  }
  &__list {
    width: 100%;
    padding: 0px 20px;
    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $white;
      margin-top: 10px;
      box-shadow: 0px 15px 10px -15px $grey;
      border-radius: 10px;
      padding: 20px 0px;

      .text {
        margin-right: auto;
        padding-left: 20px;
        max-width: 300px;
      }
      .icono {
        font-size: 28px;
        margin: 0px 20px;
        position: relative;
        color: $grey;
        display: flex;
        justify-content: center;
        align-items: center;

        &:first-of-type:after {
          content: "";
          background-color: rgba($color: $grey, $alpha: 0.4);
          position: absolute;
          width: 1px;
          height: 40px;
          bottom: -5px;
          left: 50px;
          display: block;
          pointer-events: none;
        }

        &--remove {
          // border: 1px solid green;
          // border-radius: 10px;

          &:hover {
            color: red;
          }
        }
        &--check {
          font-size: 20px;
          background-color: $white;
          border: 2px solid $grey;
          border-radius: 50%;
          width: 29px;
          height: 29px;

          &:hover {
            color: $green;
            border: 2px solid $green;
          }
        }
      }
    }
  }
}

.todoApp__list__item--checked {
  .text {
    text-decoration: line-through;
    text-decoration-color: $green;
  }
  .icono {
    border: none;
    &--check {
      color: $white;
      background-color: $green;
      border-radius: 50%;
      font-size: 20px;
      height: 30px;
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        color: white;
      }
    }
  }
}
// @media only screen and (max-width: 600px) {
//   body {
//     background-color: lightblue;
//   }
// }
